## Visual Studio
.vs/
*.suo
*.user
*.useross
*.cache
*.sln.docstates

## 编译输出
[Bb]in/
[Oo]bj/
x64/
x86/
Debug/
Release/

## 生成的文件
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.meta
*.tmp

## 日志
*.log

## NuGet包（可选屏蔽）
packages/
*.nupkg
